html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 75px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.nav__desktop {
  background: #5D86A3;
  width: 96%;
  margin: 20px auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__desktop h1 {
  padding: 0 3%;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 40px;
}
.nav__desktop ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2% 3%;
  gap: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.nav__desktop ul li {
  display: flex;
  align-items: center;
}
.nav__desktop ul a {
  display: flex;
  align-items: center;
}

.nav__close {
  display: flex;
  justify-content: space-between;
  background: #5D86A3;
  width: 95%;
  margin: 15px auto;
  padding: 2% 5%;
  border-radius: 10px;
}
.nav__close h1 {
  padding: 0 3%;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 25px;
}

.nav__open {
  background: #5D86A3;
  width: 95%;
  margin: 15px auto;
  padding: 2% 5%;
  border-radius: 10px;
  text-align: center;
}
.nav__open h1 {
  display: none;
}
.nav__open .icon-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2px;
}
.nav__open ul li {
  margin-bottom: 5px;
}
.nav__open ul li:hover {
  background: rgba(255, 255, 255, 0.4);
}

.footer {
  width: 100%;
  background: #5D86A3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5%;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer .footer__text {
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.footer .footer__text h4 {
  font-weight: 700;
}
.footer .footer__text p {
  font-weight: 400;
  font-size: 12px;
}
@media (max-width: 767.98px) {
  .footer .footer__text h4 {
    font-size: 12px;
  }
  .footer .footer__text p {
    font-size: 10px;
  }
}
.footer .footer__icons a {
  padding: 0px 30px;
}
@media (max-width: 767.98px) {
  .footer .footer__icons a {
    padding: 0px 10px;
  }
}

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 550px;
}
@media (max-width: 767.98px) {
  .home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 991.98px) {
  .home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.home .home__title {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  font-family: "Concert One", sans-serif;
}
.home .home__title .title__one {
  grid-column: 1/2;
  grid-row: 1/2;
  color: #6EC7B3;
  font-size: 70px;
}
@media (max-width: 767.98px) {
  .home .home__title .title__one {
    font-size: 50px;
  }
}
.home .home__title .title__two {
  grid-column: 1/3;
  grid-row: 2/3;
  color: #6EC7B3;
  font-size: 70px;
}
@media (max-width: 767.98px) {
  .home .home__title .title__two {
    font-size: 50px;
  }
}
.home .home__title .title__three {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  padding: 5% 0 0 10%;
  color: #5D86A3;
  font-size: 50px;
}
@media (max-width: 767.98px) {
  .home .home__title .title__three {
    font-size: 35px;
    padding: 7% 0 0 7%;
  }
}

@media (max-width: 767.98px) {
  .home__collage {
    margin: auto;
    width: 95%;
  }
}
@media (max-width: 991.98px) {
  .home__collage {
    margin: auto;
    margin-bottom: 20px;
  }
}

.search__images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 3%;
}
@media (max-width: 1439.98px) {
  .search__images {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 991.98px) {
  .search__images {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.98px) {
  .search__images {
    grid-template-columns: repeat(1, 1fr);
  }
}
.search__images .images {
  width: 90%;
  height: 400px;
  min-width: 250px;
  text-align: center;
  position: relative;
}
.search__images .images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.search__images .images .btn__img {
  position: absolute;
  right: 1%;
  bottom: 1%;
}

.search__header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}
.search__header .search__form {
  display: flex;
  width: 50%;
  gap: 20px;
}
.search__header .search__form .header__input {
  width: 80%;
}
.search__header .search__form button {
  width: 20%;
  border-radius: 50px;
  color: #000000;
  background: #6EC7B3;
  padding: 3px;
}
.search__header .search__form button:hover {
  background: #5D86A3;
}
.search__header .header__title {
  display: flex;
  gap: 5px;
}
.search__header .header__title h2 {
  color: #5D86A3;
  text-decoration: underline;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}
.search__header .header__title h2:nth-child(2) {
  color: #6EC7B3;
}

.search__btn {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.search__btn button {
  border-radius: 70px;
  background: #5D86A3;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 12px;
  width: 12%;
}
.search__btn button:hover {
  background: #6EC7B3;
}

.search__pages {
  display: flex;
  justify-content: center;
}

.save__fav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 25%;
  height: 25%;
  background: #5D86A3;
  border-radius: 70px;
  z-index: 90;
}
.save__fav span {
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.favorite {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  padding: 0px 5%;
  gap: 20px;
}
@media (min-width: 1900px) {
  .favorite {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1900px) {
  .favorite {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1439.98px) {
  .favorite {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 991.98px) {
  .favorite {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.98px) {
  .favorite {
    grid-template-columns: repeat(1, 1fr);
  }
}
.favorite .favorite__container {
  border: 3px double #5D86A3;
  position: relative;
}
.favorite .favorite__container .favorite__img {
  min-height: 450px;
  width: 100%;
  height: 400px;
  min-width: 250px;
}
.favorite .favorite__container .favorite__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.favorite .favorite__container .favorite__detail {
  display: flex;
  align-items: flex-end;
}
.favorite .favorite__container .favorite__detail .favorite__text {
  text-align: left;
}
.favorite .favorite__container .favorite__detail .favorite__text p {
  padding: 5px;
}
.favorite .favorite__container .favorite__detail .favorite__icons {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  flex-direction: column;
}
.favorite .favorite__delete {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  width: 400px;
  top: 40%;
  padding: 1%;
  background: #5D86A3;
  border-radius: 70px;
  z-index: 90;
}
.favorite .favorite__delete .icons {
  display: flex;
  flex-direction: row;
  gap: 70px;
  cursor: pointer;
}
.favorite .favorite__delete .done:hover, .favorite .favorite__delete .clear:hover {
  transform: scale(1.3);
  transition: all 0.4s ease;
}
.favorite .favorite__delete span {
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.favorite .edit__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 40%;
  width: 400px;
  padding: 1%;
  background: #5D86A3;
  border-radius: 70px;
  z-index: 90;
}
.favorite .edit__description h4 {
  display: block;
  width: 80%;
  text-align: left;
  padding-left: 2px;
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
}
.favorite .edit__description textarea {
  resize: none;
  width: 80%;
  padding: 10px;
}
.favorite .edit__description textarea:focus {
  outline: none;
}
.favorite .edit__description .edit__btn {
  display: flex;
  justify-content: flex-end;
  width: 75%;
  gap: 20px;
  margin: 10px 0px;
}
.favorite .edit__description .edit__btn span {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 200;
  cursor: pointer;
}
.favorite .edit__description .edit__btn span:hover {
  transition: all 0.2s ease;
  transform: scale(1.1);
}

.order {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0 20px 0;
  padding-right: 3%;
}
@media (min-width: 1900px) {
  .order {
    padding-right: 5%;
  }
}
@media (max-width: 991.98px) {
  .order {
    justify-content: center;
  }
}
.order .order__form {
  width: 400px;
}
@media (min-width: 1900px) {
  .order .order__form {
    width: 900px;
  }
}
@media (max-width: 991.98px) {
  .order .order__form {
    width: 300px;
  }
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}
.error img {
  width: 60%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  min-height: 500px;
}

/*# sourceMappingURL=index.css.map */
