@use '../base/variables' as v;

.favorite {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    padding: 0px 5%;
    gap: 20px;
    
    .favorite__container {
        border: 3px double v.$blue;
        position: relative;

        .favorite__detail {
            display: flex;

            .favorite__text {
                text-align: left;
                
                p {
                    padding: 5px;
                }
            }

            .favorite__icons {
                display: flex;
                position: absolute;
                bottom: 0;
                right: 0;
                flex-direction: column;
            }
        }
    }

    .favorite__delete {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        margin: auto;
        left: 0;
        right: 0;
        width: 400px;
        top: 40%;
        padding: 1%;
        background: v.$blue;
        border-radius: 70px;
        z-index: 90;

        .icons {
            display: flex;
            flex-direction: row;
            gap: 70px;
            cursor: pointer;
        }

        .done:hover, .clear:hover {
            transform: scale(1.3);
            transition: all 0.4s ease;
        }

        span {
            color: v.$white;
            font-family: v.$raleway;
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 30px;
        }
    }

    .edit__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        margin: auto;
        left: 0;
        right: 0;
        top: 40%;
        width: 400px;
        padding: 1%;
        background: v.$blue;
        border-radius: 70px;
        z-index: 90;

        h4 {
            display: block;
            width: 80%;
            text-align: left;
            padding-left: 2px;
            margin-top: 20px;
            font-family: v.$raleway;
            font-weight: 700;
            color: v.$white;
        }

        textarea {
            resize: none;
            width: 80%;
            padding: 10px;
        }

        textarea:focus {
            outline: none;
        }

        .edit__btn {
            display: flex;
            justify-content: flex-end;
            width: 75%;
            gap: 20px;
            margin: 10px 0px;

            span {
                font-family: v.$raleway;
                font-size: 15px;
                font-weight: 200;
                cursor: pointer;
            }

            span:hover {
                transition: all 0.2s ease;
                transform: scale(1.1);
            }
        }
    }
}