@use '../base/variables' as v;
@use '../base/mixins' as m;

.footer {
    width: 100%;
    background: v.$blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5%;
    margin-top: auto;

    position: absolute;
    bottom: 0;
    width: 100%;

    .footer__text {
        text-align: center;
        font-family: v.$raleway;

        h4 {
            font-weight: 700;
        }

        p {
            font-weight: 400;
            font-size: 12px;
        }

        @include m.phone {
            h4 {
                font-size: 12px;
            }

            p {
                font-size: 10px;
            }
        }
    }

    .footer__icons{
        a {
            padding:0px 30px;
        }

        @include m.phone {
            a {
                padding: 0px 10px;
            }
        }
    }
}