@use '../base/variables' as v;

.nav__desktop {
    background: v.$blue;
    width: 96%;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        padding: 0 3%;
        font-family: v.$raleway;
        font-weight: 100;
        font-size: 40px;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 2% 3%;
        gap: 20px;
        font-family: v.$raleway;
        font-weight: 400;

        li {
            display: flex;
            align-items: center;
        }

        a {
            display: flex;
            align-items: center;
        }
    }
}

.nav__close {
    display: flex;
    justify-content: space-between;
    background: v.$blue;
    width: 95%;
    margin: 15px auto;
    padding: 2% 5%;
    border-radius: 10px;

    h1 {
        padding: 0 3%;
        font-family: v.$raleway;
        font-weight: 100;
        font-size: 25px;
    }
}

.nav__open {
    background: v.$blue;
    width: 95%;
    margin: 15px auto;
    padding: 2% 5%;
    border-radius: 10px;
    text-align: center;

    h1 {
        display: none;
    }

    .icon-container {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 2px;
    }

    ul li {
        margin-bottom: 5px;
    }

    ul li:hover {
        background: rgb(255 255 255 / 40%);
    }
}