@use '../base/variables' as v;

.nav {
    background: v.$blue;
    width: 96%;
    margin: 20px auto;
    border-radius: 10px;

    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 2% 3%;
        gap: 20px;
        font-family: v.$raleway;
        font-weight: 400;

        li {
            display: flex;
            align-items: center;
            gap: 2px;
        }
    }
}